<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="自贡市就业服务中心"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/mobileplugins/swiper/css/swiper.min.css}"/>
    <link rel="stylesheet" th:href="@{/mobileplugins/jquerymobile/css/jquery.mobile-1.4.5.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/mobile/mdefault.css}"/>

    <script th:src="@{/mobileplugins/swiper/js/swiper.min.js}"></script>
    <script th:src="@{/mobileplugins/jquery/js/jquery-1.8.0.min.js}"></script>
    <script th:src="@{/mobileplugins/jquerymobile/js/jquery.mobile-1.4.5.js}"></script>

    <script th:src="@{/js/web/default.js}"></script>
    <script th:src="@{/js/mobile/Mmenumanager.js}"></script>
    <script th:src="@{/plugins/jquery/js/jquery.showLoading.min.js}"></script>

</head>
<body>

<div layout:fragment="mcontent">
</div>
</body>
</html>