<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="mobile/mdefault">
<head>
    <script th:src="@{/js/mobile/Mmenumanager.js}"></script>
    <!-- Initialize Swiper -->
    <script type="text/javascript">

        $(document).on("pageshow", "#indexPage", function () {
            M_MENUMANAGER.querymenus();

            var mySwiper = new Swiper ('.swiper-container', {
                // Enable lazy loading
                auto: true,
                loop:true,
                autoplay: {
                    delay: 3000,
                    stopOnLastSlide: false,
                    disableOnInteraction: true
                },
                navigation: {
                    nextEl: "#swiper-next",
                    prevEl: "#swiper-prev"
                }
            });
        });

    </script>
</head>
<body>
<div layout:fragment="mcontent" style="width: auto;height: auto;">
    <div data-role="page" id="indexPage">
        <div data-role="header">
            <h1 style="margin: 0%">自贡市自流井区就业服务管理局</h1>
        </div>

        <div id="banner" style="margin-top: 10pt">
            <div class="addWrap">
                <div id="swiper" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                            <img style="width: 100%" th:src="@{/imgs/pic1.jpg}"/>
                        </div>
                        <div class="swiper-slide">
                            <img style="width: 100%" th:src="@{/imgs/pic2.jpg}"/>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-white"></div>
                    <!-- Navigation -->
                    <div id="swiper-next" class="swiper-button-next swiper-button-white"></div>
                    <div id="swiper-prev" class="swiper-button-prev swiper-button-white"></div>
                </div>
            </div>
        </div>

        <div data-role="main" >
            <div class="us-content" style="margin-top: 20pt">
                <ul id="menu" class="us-ul">
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>