<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        $(document).on("pagecreate", "#policyIntro", function () {
            POLICY.queryPolicy();
        });
    </script>
</head>
<body>
    <div style="width: auto;height: auto;">
        <div data-role="page" id="policyIntro">
            <div data-role="header">
                <a href="#indexPage" data-icon="home" class="ui-btn-left ui-link ui-btn ui-icon-home ui-btn-icon-left ui-shadow ui-corner-all" data-role="button" role="button">后退</a>
                <h1 style="margin: 0%">自贡市自流井区就业服务管理局</h1>
            </div>

            <div data-role="main" class="ui-content">
                <ul data-role="listview" id="policiesList" >
                </ul>
            </div>

        </div>

    </div>
</body>
</html>