<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="mobile/mdefault">
<head>
    <script th:src="@{/js/mobile/Mwebcontent.js}"></script>
    <script>
        $(document).on("pagecreate", "#webContent", function () {
            var content = $("#content").val();
            var title = $("#title").val();
            var html = '<h1  style="background-color:#ffffff;padding-right:14px;padding-top:14px;padding-left:20px;text-align: left;font-family:microsoft yahei;font-size: 20px;font-weight:normal;">'+title+'</h1>'+'<div style="background-image: url(/frame/bg6.jpg);background-size: 100%;background-repeat:repeat-y ;"><div style="padding-left: 20px;padding-right: 20px">'+content+'</div></div>';
            $("#contentView").append(html);
        });
    </script>
</head>
<body>
<div layout:fragment="mcontent" style="width: auto;height: auto;">
    <div data-role="page" id="webContent">
        <div data-role="header">
            <h1 style="margin: 0%;">自贡市自流井区就业服务管理局</h1>
        </div>

        <div data-role="main" class="ui-content" style="padding: 0px;">
            <div id="contentView" style="width: 100%">
            </div>
        </div>
    </div>
    <input id="content" th:value="${content}" hidden="hidden" />
    <input id="title" th:value="${title}" hidden="hidden" />
</div>
</body>
</html>