<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="default">
<head>

</head>
<body>
<div layout:fragment="content" style="width: auto;height: auto;">
    <div class="error-page">
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> 出问题啦！</h3>
            <p>
                 <a href="/">请点击跳转主页</a>
            </p>
        </div>
        <!-- /.error-content -->
    </div>
</div>
</body>
</html>