<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="default">
<head>
    <script th:src="@{/js/web/webmanager.js}"></script>
    <script>
        $(document).ready(function () {
            var menuid = $("#menuId").val();
            var data = {menuid:menuid};
            WEBMANAGER.queryWebs(data);
        });
    </script>
</head>
<body>
<div layout:fragment="content" style="width: auto;height: auto;">

    <div>
        <button type="button" class="btn btn-info" onclick="WEBMANAGER.addOrUpdateView(0)">新增信息
        </button>
    </div>
    <div class="box" style="margin-top: 20px">
        <div class="box-header">
            <h3 class="box-title" th:text="${menuName}"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="websDataTables"
                               class="display table-striped table-bordered table-hover table-condensed" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr align="center">
                                <th width="10%" data-field="id">编号</th>
                                <th width="35%" data-field="title">标题</th>
                                <th width="20%" data-field="createtime" data-formatter="WEBMANAGER.timeFormat">创建时间</th>
                                <th width="20%" data-field="updatetime" data-formatter="WEBMANAGER.timeFormat">更新时间</th>
                                <th width="15%" data-field="id" data-formatter="WEBMANAGER.operation">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input id="menuId" th:value="${menuId}" hidden="hidden"/>
    <input id="menuName" th:value="${menuName}" hidden="hidden"/>
</div>
</body>
</html>